$buttons-padding-x: 1.5rem;
$buttons-padding-y: 1rem;

$buttons-padding-top: $buttons-padding-y;
$buttons-padding-right: $buttons-padding-x;
$buttons-padding-bottom: $buttons-padding-y;
$buttons-padding-left: $buttons-padding-x;

$buttons-padding: $buttons-padding-top $buttons-padding-right $buttons-padding-bottom $buttons-padding-left;
